.create-item {
  position: relative;
}
.create-item__input {
  font-size: 1.5em;
  border: none;
  border-bottom: 2px solid black;
  padding: 0.5em;
  flex: 1;
}

.create-item__submit-btn {
  position: absolute;
  font-size: 1.5em;
  font-weight: 700;
  color: white;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
  width: 30px;
  height: 30px;
  border-radius: 5px;
  line-height: 0.9;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}
