.header {
  height: 6vh;
  align-items: center;
  justify-content: center;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ba31f9+0,d17cef+100 */

  color: #fff;
}
