.todo-list-list__item {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 20px;

  border-bottom: 1px solid #eee;
  transition: background-color 0.2s;
  background-color: #a06c99;
}

.todo-list-list__item:hover {
  background-color: #ca9ec4;
}

.todo-list-list__item:hover > .todo-list-list__todo-list {
  color: white;
}

.todo-list-list__todo-list {
  display: flex;
  color: white;
  flex: 1;
  text-decoration: none;
  justify-content: space-between;
}
.todo-list-list__todo-list__title {
  font-size: 1em;
  line-height: 1.5;
}

.todo-list-list__todo-list__delete-btn {
  color: white;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 0;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list-list__todo-list__delete-btn:hover {
  background-color: white;
  color: #ca9ec4;
}
