* {
  box-sizing: border-box;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; // for some Androids
  maring:0;
  padding: 0;
  -webkit-margin-before:0;
  -webkit-margin-after:0;
  -webkit-margin-start:0;
  -webkit-margin-end:0;
}

html, button, input, textarea, select {
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #222;
  background-color: #f8f8f8;
  font-family: Helvetica, Calibri, Arial, sans-serif;
  font-size: 16px;
}

#appContainer {
  height: 100vh;
  width: 100vw;
  position: relative;
}

ul {
  list-style: none;
}

button {
  transition: background 0.2s;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.primary-bg-color {
  background: #ba31f9; /* Old browsers */
  background: linear-gradient(135deg,  #ba31f9 0%,#d17cef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba31f9', endColorstr='#d17cef',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.secondary-bg-color {
  background: #f9b331;
  background: linear-gradient(165deg,  #f9b331 0%,#f9b331 50%,#efcd7d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b331', endColorstr='#efcd7d',GradientType=1 );
}
button.secondary-bg-color:hover {
  background: #efcd7d;
  background: linear-gradient(165deg,  #efcd7d 0%,#f9b331 50%,#f9b331 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efcd7d', endColorstr='#f9b331',GradientType=1 );
}
